
# Lab 3.02: Statistical Modeling and Model Validation


---

## Objective
The goal of this lab is to guide you through the modeling workflow to produce the best model you can. In this lesson, you will follow all best practices when slicing your data and validating your model.

## Imports

In [6]:
# Import everything you need here.
# You may want to return to this cell to import more things later in the lab.
# DO NOT COPY AND PASTE FROM OUR CLASS SLIDES!
# Muscle memory is important!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import math
from scipy.stats import norm
import statsmodels.api as sm

## Read Data
The `citibike` dataset consists of Citi Bike ridership data for over 224,000 rides in February 2014.

In [7]:
# Read in the citibike data in the data folder in this repository.
citibike = pd.read_csv("data/citibike_feb2014.csv")
citibike.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,2
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,Subscriber,1948,2
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,Subscriber,1981,1
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,Subscriber,1990,1

## Explore the data
Use this space to familiarize yourself with the data.

Convince yourself there are no issues with the data. If you find any issues, clean them here.

In [8]:
citibike["starttime"] = pd.to_datetime(citibike["starttime"])
citibike["stoptime"] = pd.to_datetime(citibike["stoptime"])

In [9]:
citibike.isnull().values.any()

False

In [10]:
citibike[citibike["usertype"] == "Customer"]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
31,664,2014-02-01 00:08:47,2014-02-01 00:19:51,237,E 11 St & 2 Ave,40.730473,-73.986724,349,Rivington St & Ridge St,40.718502,-73.983299,17540,Customer,\N,0
55,836,2014-02-01 00:16:10,2014-02-01 00:30:06,488,W 39 St & 9 Ave,40.756458,-73.993722,297,E 15 St & 3 Ave,40.734232,-73.986923,16731,Customer,\N,0
222,1277,2014-02-01 01:17:50,2014-02-01 01:39:07,469,Broadway & W 53 St,40.763441,-73.982681,336,Sullivan St & Washington Sq,40.730477,-73.999061,20728,Customer,\N,0
266,29906,2014-02-01 01:44:59,2014-02-01 10:03:25,294,Washington Square E,40.730494,-73.995721,368,Carmine St & 6 Ave,40.730386,-74.002150,18944,Customer,\N,0
293,2625,2014-02-01 01:56:32,2014-02-01 02:40:17,395,Bond St & Schermerhorn St,40.688070,-73.984106,395,Bond St & Schermerhorn St,40.688070,-73.984106,19782,Customer,\N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224385,280,2014-02-28 21:42:34,2014-02-28 21:47:14,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,382,University Pl & E 14 St,40.734927,-73.992005,15529,Customer,\N,0
224438,1106,2014-02-28 22:00:46,2014-02-28 22:19:12,423,W 54 St & 9 Ave,40.765849,-73.986905,385,E 55 St & 2 Ave,40.757973,-73.966033,18720,Customer,\N,0
224525,864,2014-02-28 22:29:52,2014-02-28 22:44:16,385,E 55 St & 2 Ave,40.757973,-73.966033,441,E 52 St & 2 Ave,40.756014,-73.967416,21399,Customer,\N,0
224536,683,2014-02-28 22:32:55,2014-02-28 22:44:18,385,E 55 St & 2 Ave,40.757973,-73.966033,441,E 52 St & 2 Ave,40.756014,-73.967416,17516,Customer,\N,0
224569,527,2014-02-28 22:44:32,2014-02-28 22:53:19,477,W 41 St & 8 Ave,40.756405,-73.990026,538,W 49 St & 5 Ave,40.757952,-73.977876,20019,Customer,\N,0

In [11]:
citibike["usertype"].describe()

count         224736
unique             2
top       Subscriber
freq          218019
Name: usertype, dtype: object

## Is average trip duration different by gender?

Conduct a hypothesis test that checks whether or not the average trip duration is different for `gender=1` and `gender=2`. Be sure to specify your null and alternative hypotheses, and to state your conclusion carefully and correctly!

In [12]:
gender_1 = citibike[citibike["gender"] == 1]["tripduration"]
gender_1_n = len(gender_1)
gender_1_avg = gender_1.mean()
gender_1_variance = (gender_1.std())**2
print(f"Gender 1 ---  Mean: {gender_1_avg}   N: {gender_1_n}   Variance: {gender_1_variance}")

Gender 1 ---  Mean: 814.0324088236293   N: 176526   Variance: 25206184.65721903

In [13]:
gender_2 = citibike[citibike["gender"] == 2]["tripduration"]
gender_2_avg = gender_2.mean()
gender_2_n = len(gender_2)
gender_2_variance = (gender_2.std())**2
print(f"Gender 2 ---- Mean: {gender_2_avg}    N: {gender_2_n}     Variance: {gender_2_variance}")

Gender 2 ---- Mean: 991.3610742785506    N: 41479     Variance: 50619713.486455254

In [14]:
se = math.sqrt((gender_1_variance/gender_1_n) + (gender_2_variance/gender_2_n))
print(f"Standard Deviation of Sampling Distribution: {se}")
difference_means = (gender_1_avg - gender_2_avg)
print(f"Difference of sample means {difference_means}")
z_score = difference_means / se
print(f"Z Score: {z_score}")
p_value = 2 * norm.cdf(difference_means, scale=se)
print(p_value)

Standard Deviation of Sampling Distribution: 36.92099509665831
Difference of sample means -177.3286654549213
Z Score: -4.802922158264667
1.5636668570619254e-06

In [15]:
# Probability is wayyyy too low, so we reject null hypothesis of equality.

## What numeric columns shouldn't be treated as numeric?

**Answer:**

## Dummify the `start station id` Variable

In [16]:
pd.get_dummies(citibike["start station id"])

,72,79,82,83,116,119,120,127,128,137,...,2006,2008,2009,2010,2012,2017,2021,2022,2023,3002
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224731,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
224732,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
224733,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
224734,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
224735,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
dropped_citibike = citibike.loc[:,["tripduration", "birth year", "usertype","gender"]]
dropped_citibike.head()

   tripduration birth year    usertype  gender
0           382       1991  Subscriber       1
1           372       1979  Subscriber       2
2           591       1948  Subscriber       2
3           583       1981  Subscriber       1
4           223       1990  Subscriber       1

In [18]:
modified_citibike = pd.concat([dropped_citibike, (pd.get_dummies(citibike["start station id"], drop_first = True)).astype(int)], axis=1)
modified_citibike[2006].describe()

count    224736.000000
mean          0.001909
std           0.043649
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: 2006, dtype: float64

## Engineer a feature called `age` that shares how old the person would have been in 2014 (at the time the data was collected).

- Note: you will need to clean the data a bit.

In [19]:
modified_citibike[(modified_citibike["usertype"] == "Customer") & (modified_citibike["birth year"] == "\\N")] #we find that ALL customer usertypes dont have birth years or genders

,tripduration,birth year,usertype,gender,79,82,83,116,119,120,...,2006,2008,2009,2010,2012,2017,2021,2022,2023,3002
31,664,\N,Customer,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55,836,\N,Customer,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
222,1277,\N,Customer,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
266,29906,\N,Customer,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
293,2625,\N,Customer,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224385,280,\N,Customer,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
224438,1106,\N,Customer,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
224525,864,\N,Customer,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
224536,683,\N,Customer,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
224569,527,\N,Customer,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
modified_citibike["age"] = modified_citibike["birth year"].apply(lambda x: np.nan if x == "\\N" else 2014 - int(x))

In [21]:
modified_citibike.head()
modified_citibike.drop(columns="birth year", inplace=True)

In [22]:
usertype = pd.get_dummies(modified_citibike["usertype"], drop_first=True)
encoded_usertype = pd.concat([modified_citibike, usertype], axis=1)
encoded_usertype.drop(columns = "usertype", inplace = True)

In [23]:
encoded_usertype.head()

,tripduration,gender,79,82,83,116,119,120,127,128,...,2009,2010,2012,2017,2021,2022,2023,3002,age,Subscriber
0,382,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,23.0,True
1,372,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,35.0,True
2,591,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,66.0,True
3,583,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,33.0,True
4,223,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,24.0,True

In [24]:
gender = pd.get_dummies(modified_citibike["gender"], drop_first=True)
final_df = pd.concat([encoded_usertype, gender], axis=1)
#final_df.drop(columns = "gender", inplace = True)

In [25]:
final_df.rename(columns={1:"gender_1", 2:"gender_2"}, inplace=True)
final_df.head()

,tripduration,gender,79,82,83,116,119,120,127,128,...,2012,2017,2021,2022,2023,3002,age,Subscriber,gender_1,gender_2
0,382,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,23.0,True,True,False
1,372,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,35.0,True,False,True
2,591,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,66.0,True,False,True
3,583,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,33.0,True,True,False
4,223,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,24.0,True,True,False

## Split your data into train/test data

Look at the size of your data. What is a good proportion for your split? **Justify your answer.**

Use the `tripduration` column as your `y` variable.

For your `X` variables, use `age`, `usertype`, `gender`, and the dummy variables you created from `start station id`. (Hint: You may find the Pandas `.drop()` method helpful here.)

**NOTE:** When doing your train/test split, please use random seed 123.

In [26]:
final_df.dropna(inplace=True)

In [27]:
X_train, X_test, Y_train, Y_split = train_test_split(final_df.loc[:,79:"gender_2"],final_df["tripduration"])

In [28]:
X_train.head()
X_train.columns = X_train.columns.astype(str)

## Fit a Linear Regression model in `sklearn` predicting `tripduration`.

In [29]:
citibike_regressor = LinearRegression()
citibike_regressor.fit(X_train, Y_train)

LinearRegression()

In [30]:
train_predictions = citibike_regressor.predict(X_train)

X_test.columns = X_test.columns.astype(str)
test_predictions = citibike_regressor.predict(X_test)

## Evaluate your model
Look at some evaluation metrics for **both** the training and test data. 
- How did your model do? Is it overfit, underfit, or neither?
- Does this model outperform the baseline? (e.g. setting $\hat{y}$ to be the mean of our training `y` values.)

In [31]:
zip(train_predictions, Y_train)

In [32]:
train_mse = sum([(x - y)**2 for x,y in zip(Y_train, train_predictions)]) / len(train_predictions)
print(train_mse)
#print(f"Training MSE: {mean_squared_error(Y_train, train_predictions)} ") #gives same thing

test_mse = sum([(x - y)**2 for x,y in zip(Y_split, test_predictions)]) / len(test_predictions)
print(test_mse)

mean_y_train = np.mean(Y_train)
baseline_mse = sum([(x - mean_y_train)**2 for x in Y_train])/len(Y_train)
print(baseline_mse)

32858576.82969436
21283809.242901403
32991340.95640852

In [33]:
print(f"R^2 on training set: {r2_score(Y_train, train_predictions)}")
print(f"R^2 on test set: {r2_score(Y_split, test_predictions)}")

R^2 on training set: 0.004024211288922053
R^2 on test set: -0.003918924354856745

## Fit a Linear Regression model in `statsmodels` predicting `tripduration`.

In [40]:
X_train = sm.add_constant(X_train)

In [44]:
model = sm.OLS(Y_train, X_train.astype(float))
results = model.fit()

In [46]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           tripduration   R-squared:                       0.004
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     1.992
Date:                Wed, 09 Jul 2025   Prob (F-statistic):           6.25e-24
Time:                        20:35:55   Log-Likelihood:            -1.6470e+06
No. Observations:              163514   AIC:                         3.295e+06
Df Residuals:                  163182   BIC:                         3.298e+06
Df Model:                         331
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        207.2612    809.643      0.256      0.798   -1379.621    1794.143
79            -7.2131    372.540     -0.019      0.985    -737.383     722.956
82           469.5283    487.165      0.964      0.335    -485.305    1424.362
83          -178.4955    477.897     -0.374      0.709   -1115.164     758.173
116         -440.3304    318.794     -1.381      0.167   -1065.161     184.500
119         -385.1754    923.774     -0.417      0.677   -2195.753    1425.402
120         1126.4442    769.387      1.464      0.143    -381.538    2634.426
127         -363.0784    339.100     -1.071      0.284   -1027.707     301.550
128         -365.5639    330.353     -1.107      0.268   -1013.049     281.922
137         -374.5269    399.106     -0.938      0.348   -1156.766     407.713
143         -350.9193    561.284     -0.625      0.532   -1451.025     749.186
144         -167.2748    748.855     -0.223      0.823   -1635.015    1300.466
146         -522.8174    394.640     -1.325      0.185   -1296.302     250.668
147          -92.7383    343.330     -0.270      0.787    -765.658     580.182
150         -407.5313    390.512     -1.044      0.297   -1172.926     357.863
151         -439.6707    307.807     -1.428      0.153   -1042.965     163.624
152         -424.6992    435.301     -0.976      0.329   -1277.879     428.481
153         -309.9267    335.540     -0.924      0.356    -967.578     347.724
157          179.2684    465.799      0.385      0.700    -733.687    1092.224
160         -164.7074    369.661     -0.446      0.656    -889.234     559.819
161         -455.9470    327.847     -1.391      0.164   -1098.520     186.626
164         -277.7124    373.331     -0.744      0.457   -1009.434     454.009
167         -265.6575    340.232     -0.781      0.435    -932.505     401.190
168         -299.4121    319.663     -0.937      0.349    -925.944     327.120
173         -360.5767    342.315     -1.053      0.292   -1031.506     310.353
174          401.0184    354.558      1.131      0.258    -293.908    1095.945
195          465.1450    370.041      1.257      0.209    -260.127    1190.417
212         -390.3837    336.922     -1.159      0.247   -1050.744     269.976
216         -290.0995    817.305     -0.355      0.723   -1891.999    1311.800
217          -69.6687    730.140     -0.095      0.924   -1500.727    1361.389
218          280.1751    817.294      0.343      0.732   -1321.703    1882.053
223         -156.7081    348.445     -0.450      0.653    -839.654     526.237
224         -437.5530    399.104     -1.096      0.273   -1219.789     344.683
225          -38.7376    459.616     -0.084      0.933    -939.574     862.099
228         -193.5241    375.774     -0.515      0.607    -930.034     542.986
229         -403.4094    316.065     -1.276      0.202   -1022.889     216.070
232         -249.2433    672.438     -0.371      0.711   -1567.208    1068.722
233          462.8629    399.729      1.158      0.247    -320.597    1246.323
236         -408.8082    327.117     -1.250      0.211   -1049.951     232.334
237         -345.0537    333.686     -1.034      0.301    -999.071     308.963
238           58.9637    388.676      0.152      0.879    -702.833     820.760
239         -578.0022    480.356     -1.203      0.229   -1519.490     363.485
241         -508.4800    588.271     -0.864      0.387   -1661.479     644.519
242         -164.9376    810.763     -0.203      0.839   -1754.016    1424.141
243         -337.6313    786.182     -0.429      0.668   -1878.531    1203.269
244         1139.9297    499.266      2.283      0.022     161.380    2118.479
245         -453.2081    686.196     -0.660      0.509   -1798.138     891.722
247         -387.8080    383.638     -1.011      0.312   -1139.730     364.114
248         -337.6596    516.248     -0.654      0.513   -1349.494     674.175
249          -12.5609    423.166     -0.030      0.976    -841.958     816.836
250         -461.5477    439.444     -1.050      0.294   -1322.849     399.754
251         -385.1697    347.309     -1.109      0.267   -1065.889     295.549
252          783.3998    373.930      2.095      0.036      50.505    1516.294
253         -266.9797    853.157     -0.313      0.754   -1939.149    1405.190
254         -348.4101    364.533     -0.956      0.339   -1062.888     366.068
257         -359.4309    368.555     -0.975      0.329   -1081.791     362.929
258         -173.8369    588.240     -0.296      0.768   -1326.775     979.101
259          187.3897    516.213      0.363      0.717    -824.376    1199.156
260          279.8764    460.278      0.608      0.543    -622.259    1182.012
261         -292.0637    496.377     -0.588      0.556   -1264.953     680.825
262           -1.6238    609.425     -0.003      0.998   -1196.085    1192.837
263         -262.7867    345.198     -0.761      0.447    -939.366     413.793
264         -479.4065    357.801     -1.340      0.180   -1180.688     221.875
265         -470.5604    362.711     -1.297      0.195   -1181.466     240.345
266         -237.3859    473.971     -0.501      0.616   -1166.358     691.587
267         -229.9774    422.733     -0.544      0.586   -1058.526     598.571
268         -439.3630    368.566     -1.192      0.233   -1161.745     283.019
270         -534.8523    420.242     -1.273      0.203   -1358.518     288.814
271         -111.6259    385.812     -0.289      0.772    -867.808     644.557
274         2877.9024    543.000      5.300      0.000    1813.634    3942.171
275         -477.6698    621.218     -0.769      0.442   -1695.244     739.904
276          785.1504    441.059      1.780      0.075     -79.315    1649.616
278         -327.4554   1033.061     -0.317      0.751   -2352.233    1697.322
279         -182.1476    639.340     -0.285      0.776   -1435.240    1070.945
280         -315.9839    352.302     -0.897      0.370   -1006.488     374.520
281          750.4135    367.832      2.040      0.041      29.471    1471.356
282          210.7432    693.463      0.304      0.761   -1148.430    1569.916
284         -139.8201    314.705     -0.444      0.657    -756.635     476.994
285         -448.3864    307.215     -1.460      0.144   -1050.522     153.749
289         -357.8173    758.893     -0.471      0.637   -1845.231    1129.596
290         -163.5382    392.104     -0.417      0.677    -932.054     604.978
291          193.1569    421.040      0.459      0.646    -632.073    1018.387
293         -378.4690    291.175     -1.300      0.194    -949.165     192.227
294          650.8055    362.449      1.796      0.073     -59.587    1361.198
295         -381.2417    377.733     -1.009      0.313   -1121.589     359.106
296          149.1135    370.060      0.403      0.687    -576.196     874.423
297         -376.0574    329.875     -1.140      0.254   -1022.605     270.490
298         -557.8385    774.851     -0.720      0.472   -2076.529     960.852
300         -360.4491    343.591     -1.049      0.294   -1033.880     312.982
301         -286.1662    331.049     -0.864      0.387    -935.015     362.682
302          -65.6652    405.915     -0.162      0.871    -861.251     729.920
303         -353.9019    372.337     -0.950      0.342   -1083.674     375.871
304         -184.3807    404.552     -0.456      0.649    -977.294     608.532
305          -89.2366    352.413     -0.253      0.800    -779.959     601.486
306         -364.0883    356.499     -1.021      0.307   -1062.819     334.642
307         -445.6373    338.104     -1.318      0.187   -1108.314     217.040
308         -159.9485    400.674     -0.399      0.690    -945.261     625.364
309         -404.4326    392.963     -1.029      0.303   -1174.631     365.766
310           -0.1708    437.883     -0.000      1.000    -858.412     858.071
311         -527.3786    369.861     -1.426      0.154   -1252.298     197.541
312         -266.4991    332.193     -0.802      0.422    -917.589     384.591
313          137.3668    487.185      0.282      0.778    -817.505    1092.238
314         1776.8503    576.825      3.080      0.002     646.286    2907.414
315          468.5951    474.724      0.987      0.324    -461.853    1399.043
316         -190.2908    390.735     -0.487      0.626    -956.123     575.542
317         -405.9987    333.545     -1.217      0.224   -1059.739     247.742
318         -368.9819    309.804     -1.191      0.234    -976.191     238.227
319           88.6608    366.589      0.242      0.809    -629.845     807.167
320         -177.0870   3323.327     -0.053      0.958   -6690.736    6336.562
322         -370.5221    636.631     -0.582      0.561   -1618.305     877.261
323         -235.3139    321.140     -0.733      0.464    -864.742     394.114
324         -407.6972    439.984     -0.927      0.354   -1270.056     454.662
325         -307.2291    347.878     -0.883      0.377    -989.062     374.604
326         -276.9806    327.113     -0.847      0.397    -918.115     364.154
327         -101.9868    364.696     -0.280      0.780    -816.783     612.810
328         -285.2581    398.195     -0.716      0.474   -1065.713     495.197
329         -420.1885    346.146     -1.214      0.225   -1098.627     258.251
330         -453.6604    382.679     -1.185      0.236   -1203.704     296.383
331         -342.4322    466.516     -0.734      0.463   -1256.794     571.930
332           16.1483    503.279      0.032      0.974    -970.268    1002.565
334         -340.2659    333.242     -1.021      0.307    -993.413     312.881
335         -422.4857    325.262     -1.299      0.194   -1059.992     215.021
336         -272.8813    350.678     -0.778      0.436    -960.202     414.439
337         -185.6968    427.621     -0.434      0.664   -1023.825     652.432
339         -197.3651    804.348     -0.245      0.806   -1773.869    1379.139
340         -366.1991    406.969     -0.900      0.368   -1163.849     431.451
341         -230.6859    445.545     -0.518      0.605   -1103.944     642.572
342         -177.0667    406.677     -0.435      0.663    -974.145     620.012
343          -63.1946    672.438     -0.094      0.925   -1381.160    1254.770
344         -404.5155    537.454     -0.753      0.452   -1457.915     648.884
345         -426.2328    319.196     -1.335      0.182   -1051.850     199.384
346         -332.3597    357.949     -0.929      0.353   -1033.932     369.212
347         -180.5153    330.568     -0.546      0.585    -828.421     467.390
348         -258.3441    360.341     -0.717      0.473    -964.604     447.916
349           78.5729    431.401      0.182      0.855    -766.964     924.110
350          -99.5943    413.465     -0.241      0.810    -909.978     710.789
351          217.5535    476.295      0.457      0.648    -715.975    1151.082
352         -217.8669    365.035     -0.597      0.551    -933.328     497.594
353         8002.1581    659.672     12.131      0.000    6709.215    9295.102
354         3450.6650    586.299      5.886      0.000    2301.532    4599.798
355         -184.8666    357.098     -0.518      0.605    -884.771     515.038
356         -210.5871    412.352     -0.511      0.610   -1018.787     597.613
357         -452.0174    368.194     -1.228      0.220   -1173.670     269.635
358          137.4824    315.920      0.435      0.663    -481.714     756.679
359         -193.7911    352.035     -0.550      0.582    -883.772     496.190
360          464.6517    402.575      1.154      0.248    -324.386    1253.690
361         -204.3919    344.633     -0.593      0.553    -879.865     471.081
362         -388.9702    416.152     -0.935      0.350   -1204.619     426.679
363          326.4441    375.816      0.869      0.385    -410.147    1063.035
364         -385.2176    522.116     -0.738      0.461   -1408.554     638.118
365          515.1152    556.500      0.926      0.355    -575.614    1605.844
366         -508.8895    433.931     -1.173      0.241   -1359.385     341.605
367          518.5286    402.260      1.289      0.197    -269.893    1306.950
368         -332.0613    325.373     -1.021      0.307    -969.785     305.663
369         -531.6424    371.946     -1.429      0.153   -1260.648     197.363
372         -311.3199    853.189     -0.365      0.715   -1983.553    1360.913
373          -18.2407    584.324     -0.031      0.975   -1163.504    1127.022
375           66.1166    323.446      0.204      0.838    -567.831     700.064
376         -207.5344    384.344     -0.540      0.589    -960.840     545.771
377         -271.2639    390.466     -0.695      0.487   -1036.568     494.040
379         -347.1048    313.621     -1.107      0.268    -961.795     267.586
380           83.2215    325.623      0.256      0.798    -554.992     721.435
382         -431.9845    305.882     -1.412      0.158   -1031.507     167.538
383         -487.7663    405.220     -1.204      0.229   -1281.989     306.456
384         -184.6823    466.527     -0.396      0.692   -1099.065     729.700
385         -325.2592    420.615     -0.773      0.439   -1149.655     499.137
386         -194.7191    406.930     -0.479      0.632    -992.292     602.854
387           24.1139    366.244      0.066      0.948    -693.717     741.945
388         -310.8976    341.811     -0.910      0.363    -980.840     359.045
389         -168.3325    689.827     -0.244      0.807   -1520.378    1183.713
390         -141.0056    561.301     -0.251      0.802   -1241.144     959.133
391          -34.2315    480.331     -0.071      0.943    -975.670     907.207
392         -113.8666    528.255     -0.216      0.829   -1149.236     921.503
393         -167.4773    374.776     -0.447      0.655    -902.030     567.075
394         -286.3411    348.955     -0.821      0.412    -970.284     397.602
395          146.3960    485.409      0.302      0.763    -804.995    1097.787
396          -37.2722    588.294     -0.063      0.949   -1190.316    1115.772
397         -225.4527    659.677     -0.342      0.733   -1518.406    1067.501
398          117.6876    618.791      0.190      0.849   -1095.129    1330.505
399         -442.2195    530.833     -0.833      0.405   -1482.640     598.201
400         -182.6497    505.314     -0.361      0.718   -1173.053     807.754
401         -362.6984    327.546     -1.107      0.268   -1004.682     279.285
402         -375.9749    309.155     -1.216      0.224    -981.911     229.962
403         -365.6739    346.384     -1.056      0.291   -1044.578     313.231
404         -242.6721    356.066     -0.682      0.496    -940.553     455.209
405          -75.3547    358.982     -0.210      0.834    -778.951     628.242
406         -448.8240    498.264     -0.901      0.368   -1425.411     527.763
407          160.5619    636.630      0.252      0.801   -1087.219    1408.343
408         -143.1712    517.364     -0.277      0.782   -1157.193     870.850
409         -187.5226    614.052     -0.305      0.760   -1391.050    1016.005
410         -400.0953    336.240     -1.190      0.234   -1059.119     258.928
411         -259.1893    447.186     -0.580      0.562   -1135.665     617.286
412         -320.4684    379.010     -0.846      0.398   -1063.320     422.383
414          161.3703    580.527      0.278      0.781    -976.449    1299.190
415           36.2412    408.682      0.089      0.929    -764.766     837.249
416         1257.1743    462.312      2.719      0.007     351.053    2163.295
417         -251.0001    327.292     -0.767      0.443    -892.485     390.485
418         -417.6454    967.357     -0.432      0.666   -2313.644    1478.354
419          230.4298    734.669      0.314      0.754   -1209.505    1670.365
420         -135.0730    558.058     -0.242      0.809   -1228.855     958.709
421         2132.5224    645.005      3.306      0.001     868.326    3396.719
422           49.8143    357.928      0.139      0.889    -651.717     751.345
423         -374.2184    484.534     -0.772      0.440   -1323.895     575.458
426           21.5872    325.382      0.066      0.947    -616.155     659.329
427          469.5504    520.880      0.901      0.367    -551.363    1490.464
428         -226.7536    333.571     -0.680      0.497    -880.545     427.038
430          508.5480    430.419      1.182      0.237    -335.065    1352.161
431         -205.7092    967.389     -0.213      0.832   -2101.771    1690.353
432         -402.3366    335.580     -1.199      0.231   -1060.067     255.393
433         -298.8235    340.556     -0.877      0.380    -966.306     368.660
434         -370.0984    381.973     -0.969      0.333   -1118.756     378.560
435         -111.0688    296.885     -0.374      0.708    -692.957     470.820
436          -82.7990    748.834     -0.111      0.912   -1550.498    1384.900
437         -317.4501    628.804     -0.505      0.614   -1549.893     914.993
438         -377.9339    338.134     -1.118      0.264   -1040.669     284.801
439         -338.0422    337.658     -1.001      0.317    -999.846     323.761
440         -430.0051    385.560     -1.115      0.265   -1185.694     325.684
441         -351.7050    473.179     -0.743      0.457   -1279.126     575.716
442         -333.3789    318.304     -1.047      0.295    -957.249     290.491
443         -113.1206   1115.898     -0.101      0.919   -2300.257    2074.016
444           16.9256    313.981      0.054      0.957    -598.471     632.322
445         -313.8281    332.121     -0.945      0.345    -964.778     337.122
446         -341.8937    322.352     -1.061      0.289    -973.697     289.910
447          -20.3442    370.600     -0.055      0.956    -746.713     706.024
448         -297.7967    342.669     -0.869      0.385    -969.420     373.826
449           -4.1131    422.748     -0.010      0.992    -832.689     824.463
450         -358.3572    353.998     -1.012      0.311   -1052.186     335.472
453         -386.9632    334.722     -1.156      0.248   -1043.012     269.085
454         -228.2789    410.117     -0.557      0.578   -1032.100     575.542
455         -219.8242    411.972     -0.534      0.594   -1027.281     587.633
456           77.6059    394.641      0.197      0.844    -695.883     851.094
457         -285.6808    346.600     -0.824      0.410    -965.010     393.648
458         -318.7355    380.127     -0.838      0.402   -1063.777     426.305
459         -210.5036    339.186     -0.621      0.535    -875.301     454.294
460          -81.3259    609.490     -0.133      0.894   -1275.913    1113.262
461            3.4120    332.172      0.010      0.992    -647.638     654.462
462          -41.9736    335.040     -0.125      0.900    -698.645     614.698
463         -233.0221    338.171     -0.689      0.491    -895.830     429.785
464         -197.9506    450.135     -0.440      0.660   -1080.205     684.304
465         -439.3548    382.656     -1.148      0.251   -1189.352     310.643

## Using the `statsmodels` summary, test whether or not `age` has a significant effect when predicting `tripduration`.
- Be sure to specify your null and alternative hypotheses, and to state your conclusion carefully and correctly **in the context of your model**!

In [ ]:
#Null Hypothesis is that the Coefficient for Age is 0; alternative is that it is not 0.
# P_value is 0.001 * 2, which is 0.002; which is less than significance level of 0.01. This means that can reject the null hypothesis
# So age has a significant effect when predicting tripduration.

## Citi Bike is attempting to market to people who they think will ride their bike for a long time. Based on your modeling, what types of individuals should Citi Bike market toward?

In [ ]:
# Older people.